---
layout: default
title: Welcome to Golf Lounge 18
description: About Golf Lounge 18
section_id: pages
members:
- name: Jacob Howes
  position: Social Media ninja
  avatar: images/jacob_howes.png
  avatar_hover: images/jacob_howes.png
  description: Jacob is a student-athlete, Majoring in Business Administration Merrimack College. He assists with the day to day marketing operations and loves golfing in his free time.
  socials:
  - name: fa fa-envelope
    url: mailto:info@golflounge18.com
- name: Allen Mihai
  position: General Manager
  avatar: images/@stock/member-1.jpg
  avatar_hover: images/@stock/member-1.jpg
  description: This dude is responsible for running the place, in general.
  socials:
  - name: fa fa-envelope
    url: mailto:allen@golflounge18.com
  - name: fa fa-phone
    url: tel:203-913-4167
- name: Michael Dominici
  position: High Priest to the Golfing Gods
  avatar: images/mike.png
  avatar_hover: images/mike.png
  description: Mike Dominici is a passionate, accomplished golfer with 25+ years of experience in the game.  He has vast experience in all aspects of the game. Proven success in teaching all levels of golf.
  socials:
  - name: fa fa-envelope
    url: mailto:info@golflounge18.com
  - name: fa fa-phone
    url: tel:203-943-7308
- name: Liz Gentile
  position: LPGA Pro
  avatar: images/@stock/member-1.jpg
  avatar_hover: images/@stock/member-1.jpg
  description: LPGA Pro
  socials:
  - name: fa fa-envelope
    url: mailto:info@golflounge18.com
- name: The 3 Amigos
  position: Founders
  avatar: images/3a.png
  avatar_hover: images/3a.png
  description: We wanted a place like this to exist. You are welcome!
  socials:
  - name: fa fa-envelope
    url: mailto:info@golflounge18.com
  - name: fa fa-phone
    url: tel:203-307-5354
---

<div class="full text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <div class="spacing"></div>
        <h2>Welcome</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 medium-centered columns">
     <p>Golf Lounge 18 provides a State of the art (and technology) facility to residents in and around Fairfield. We have been serving golfers since October 2018</p>
     <p>Experience the best simulators in the industry - <a href="/technology">Trackman</a></p>
     <p>Come over to Play, Learn, Practice and have a good time.</p>
    </div>
  </div>

  <div class="two spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Meet the Team</h2>
      </div>
    </div>
  </div>
  <div class="row">
    {% for member in page.members %}
    <div class="medium-4 columns">
      <div class="member">
        <img src="{{site.url}}/{{member.avatar}}" alt="">
        <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
        <div class="member-info">
          <h4>{{member.name}}</h4>
          <p class="position">{{member.position}}</p>
          <p class="description">{{member.description}}</p>
          <ul class="socials">
            {% for social in member.socials %}
            <li><a href="{{social.url}}"><i class="{{social.name}}"></i></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <div class="spacing"></div>
        <h2>Connect with us</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="class="large-12 centered-text columns"">

      <div class="work-wrapper">
        <a class="work space" href="mailto:{{site.email}}">
          <i class='work space fas fa-envelope'></i>
          <div class="info center">
            {{site.email}}
          </div>
        </a>

        <a class="work space" target="_blank" href="https://facebook.com/{{site.facebook}}">
          <i class='work space fab fa-facebook'></i>
          <div class="info center">
            Facebook
          </div>
        </a>

        <a class="work space" target="_blank" href="https://instagram.com/{{site.instagram}}">
          <i class='work space fab fa-instagram'></i>
          <div class="info center">
            Instagram
          </div>
        </a>

        <a class="work space" target="_blank" href="https://goo.gl/maps/{{site.gmap}}">
          <i class='work space fa fa-map-marked-alt'></i>
          <div class="info center">
            {{site.location}}
          </div>
        </a>

        <a class="work space" href="tel:{{site.phone}}">
          <i class='work space fa fa-phone'></i>
          <div class="info center">
            Call us - {{site.phone}}
          </div>
        </a>

      </div>

    </div>
  </div>

  <div class="two spacing"></div>
  {% include mailchimp.html %}

  <div class="two spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Hours of Operation</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 medium-centered columns">
      <p>
        We are open
        <ul>
          <li>Monday to Thursday: 7am to 10pm</li>
          <li>Friday to Sunday: 7am to midnight</li>
        </ul>
      </p>
      <p>
        Peak hours:
        <ul>
          <li>Monday to Thursday: 6pm to close</li>
          <li>Friday: 4pm to close</li>
          <li>Saturday, Sunday, Holidays and Long weekends: All day</li>
        </ul>
      </p>
    </div>
  </div>
</div>
