---
layout: default
title: Welcome to Golf Lounge 18
description: About Golf Lounge 18
section_id: pages
members:
- name: Allen Mihai
  position: General Manager
  avatar: images/allen_mihai.png
  avatar_hover: images/allen_mihai.png
  description: Allen will be running the day to day operations at Golf Lounge 18. He comes from a sports background with experience in business management and swing instruction for all levels. Whether you’re looking to improve your swing on Trackman, or need help building a format for your next company tournament, Allen is the guy to speak to.
  socials:
  - name: fa fa-envelope
    url: mailto:allen@golflounge18.com
  - name: fa fa-phone
    url: tel:203-913-4167
- name: Jacob Howes
  position: Social Media ninja
  avatar: images/jacob_howes.png
  avatar_hover: images/jacob_howes.png
  description: Jacob is a student-athlete, Majoring in Business Administration Merrimack College. He assists with the day to day marketing operations and loves golfing in his free time.
  socials:
    - name: fa fa-envelope
      url: mailto:info@golflounge18.com
- name: The 3 Amigos
  position: Founders
  avatar: images/3a.png
  avatar_hover: images/3a.png
  description: We wanted a place like this to exist. You are welcome!
  socials:
  - name: fa fa-envelope
    url: mailto:info@golflounge18.com
  - name: fa fa-phone
    url: tel:203-307-5354
---

<div class="full text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <div class="spacing"></div>
        <h2>Welcome</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 medium-centered columns">
      {% include desc.html %}
    </div>
  </div>
</div>

<div class="full text light-cyan">
  <div class="section-title">
    <h2>Reserve your tee time now!</h2>
  </div>
  <div class="row">
    <div class='medium-10 medium-centered centered-text columns'>
      <a class="button boxed" href="/book">Online reservations</a>
    </div>
  </div>
</div>

<div class="full text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Meet the Team</h2>
      </div>
    </div>
  </div>
  <div class="row">
    {% for member in page.members %}
    <div class="medium-4 columns">
      <div class="member">
        <img src="{{site.url}}/{{member.avatar}}" alt="">
        <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
        <div class="member-info">
          <h4>{{member.name}}</h4>
          <p class="position">{{member.position}}</p>
          <p class="description">{{member.description}}</p>
          <ul class="socials">
            {% for social in member.socials %}
            <li><a href="{{social.url}}"><i class="{{social.name}}"></i></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="full text light-grey">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <div class="spacing"></div>
        <h2>Connect with us</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="class="large-12 centered-text columns"">

      <div class="work-wrapper">
        <a class="work space" href="mailto:{{site.email}}">
          <i class='work space fas fa-envelope'></i>
          <div class="info center">
            {{site.email}}
          </div>
        </a>

        <a class="work space" target="_blank" href="https://facebook.com/{{site.facebook}}">
          <i class='work space fab fa-facebook'></i>
          <div class="info center">
            Facebook
          </div>
        </a>

        <a class="work space" target="_blank" href="https://instagram.com/{{site.instagram}}">
          <i class='work space fab fa-instagram'></i>
          <div class="info center">
            Instagram
          </div>
        </a>

        <a class="work space" target="_blank" href="https://goo.gl/maps/{{site.gmap}}">
          <i class='work space fa fa-map-marked-alt'></i>
          <div class="info center">
            {{site.location}}
          </div>
        </a>

        <a class="work space" href="tel:{{site.phone}}">
          <i class='work space fa fa-phone'></i>
          <div class="info center">
            {{site.phone}}
          </div>
        </a>

      </div>

    </div>
  </div>
</div>

<div class="full text">
  <div class="two spacing"></div>
  {% include mailchimp.html %}

  <div class="two spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Hours of Operation</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 medium-centered columns">
      <p>
        We are open:
        <ul>
          <li>Monday to Thursday: 8am to 10pm</li>
          <li>Friday to Sunday: 7am to 11pm</li>
        </ul>
      </p>
    </div>
  </div>
</div>
