---
layout: default
title: Leagues at Golf Lounge 18
description: Leagues for Mens, Womens, Juniors, Seniors at Golf Lounge 18
scores:
- teamName: Thunder Gun Express
  totalScore: -7
  results:
  - score: -7
- teamName: B-Town Boys
  totalScore: -7
  results:
  - score: -7
- teamName: The Mighty Mulligans
  totalScore: -6
  results:
  - score: -6
- teamName: Fore Left
  totalScore: -6
  results:
  - score: -6
- teamName: You scratched my anchor!
  totalScore: -5
  results:
  - score: -5
- teamName: Grip it and Sip it
  totalScore: -5
  results:
  - score: -5
- teamName: Putter Face
  totalScore: -5
  results:
  - score: -5
- teamName: Bangin Putts
  totalScore: -3
  results:
  - score: -3
- teamName: Chris & Chris
  totalScore: -3
  results:
  - score: -3
- teamName: Chuk-de-phate
  totalScore: -3
  results:
  - score: -3
- teamName: Philly Special
  totalScore: -3
  results:
  - score: -3
- teamName: Michael & Jason
  totalScore: -3
  results:
  - score: -3
- teamName: Hole out par
  totalScore: -2
  results:
  - score: -2
- teamName: Noel & Rory
  totalScore: -2
  results:
  - score: -2
- teamName: Mohit & Eric
  totalScore: -2
  results:
  - score: -2
- teamName: Team Electric
  totalScore: -2
  results:
  - score: -2
- teamName: Marc & Christian
  totalScore: -1
  results:
  - score: -1
- teamName: Fraser & Harry
  totalScore: E
  results:
  - score: E
- teamName: Peter & David
  totalScore: E
  results:
  - score: E
- teamName: Tom & Elizabeth
  totalScore: E
  results:
  - score: E
- teamName: American Males
  totalScore: E
  results:
  - score: E
- teamName: TBD
  totalScore: +2
  results:
  - score: +2
- teamName: Jared & Greg
  totalScore: +2
  results:
  - score: +2
- teamName: Mulligan’s Island
  totalScore: 3
  results:
  - score: 3
- teamName: Brian & Eric
  totalScore:
- teamName: McFarlane brothers
  totalScore:
- teamName: TBD
  totalScore:
- teamName: Jared & Greg
  totalScore:
- teamName: Gold Rush
  totalScore:
- teamName: Sasco boys
  totalScore:
- teamName: Green Mafia
  totalScore:

courses:
- name: Sea Island, Plantation (Georgia)
  description: January 14-20
  image: images/sea-island-plantation.jpg
- name: Sedgefield CC (North Carolina)
  description: January 21-27
  image: images/sedgefield.jpg
- name: Muirfield Village (Ohio)
  description: Jan 28 - Feb 3
  image: images/muirfield.jpg
- name: St. Andrews, Castle Course (Scotland)
  description: February 4 - 10
  image: images/st-andrews-castle.jpg
- name: Royal Troon (Scotland)
  description: February 11-17
  image: images/troon.jpg
- name: PGA National Golf Course, Champion (Florida)
  description: February 18-24
  image: images/pga-national.jpg
- name:
- name: Olympic Golf Course Rio (Rio)
  description: Feb 25 - Mar 3
  image: images/olympic-rio.jpg
- name:
---

<div class="full text">

    <div class="section-title" style="
                        background-image: url('images/bg-bays.jpeg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;">
        <div class="row">
            <div class="one spacing"></div>
            <div class="medium-10 medium-centered columns">
                <h3 style="color: #ffffff">GOLF LOUNGE 18 WINTER LEAGUE - STARTING JAN 14 2019</h3>
                <p style="font-size: 1.1rem; color: #ffffff">
                    Round up your friends and compete for prizes and bragging rights for the title
                    of <strong>League Champions</strong>. It's a perfect opportunity to hangout with
                    friends, and meet new ones in a fun and competitive environment.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="medium-10 medium-centered columns">
                <p style="text-align: center">
                    <a class="button boxed" href="#register">Register your team for Winter League</a>
                </p>
            </div>
        </div>

    </div>

    <div class="row" style="background-color: lightgray">
        <div class="one spacing"></div>
        <div class="medium-10 medium-centered columns">
            <h3 style="text-align: center">2019 Winter League Leaderboard</h3>
        </div>
        <p style="text-align: center"><u><strong>Scoring Rules:</strong></u> 70% of stated index is applied to each round.<br>Top 5 of 6 scores count towards the playoffs (top 8 teams participate in the Playoffs)</p>
        <p style="text-align: center"><u><strong>Skins winners for week 1:</strong></u> <i>Announced on Saturday January 19</i></p>
        <div class="medium-10 medium-centered columns">
            <div style="text-align: center; align-content: center"><center>
                <table>
                    <tr>
                        <th>Team Name</th><th>Total</th><th>Sea Island Plantation</th><th>Sedgefield CC</th><th>Muirfield Village</th><th>St. Andrews, Castle Course</th><th>Royal Troon</th><th>PGA National</th>
                    </tr>
                    {% for score in page.scores %}
                    <tr>
                        <td>{{score.teamName}}</td>
                        <td style="text-align: center"><strong>{{score.totalScore}}</strong></td>
                        {% for result in score.results %}
                        <td style="text-align: center">{{result.score}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table></center>
                <div class="one spacing"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="one spacing"></div>
        <div class="section-title">
            <div class="row">
                <div class="medium-10 medium-centered columns">
                    <h3>Are You Game?</h3>
                </div>
            </div>
        </div>

        <div class="medium-10 medium-centered columns">
            <div class="large-6 columns">
                <div class="quote reverse" style="padding: 5px; border: none; color: #000;">
                    <a href="/images/league-201901.jpg" target="_blank">
                        <img src="/images/league-201901-small.jpg">
                    </a>
                </div>
            </div>

            <div class="medium-10 medium-centered columns">

                <div class="large-6 columns">
                    <div class="quote reverse" style="background-color:white;padding: 10px; border: 2px solid; color: #000; opacity: 0.7">
                        <div class="one spacing"></div>
                        <h4 style="text-align: center"><u>LEAGUE FORMAT AND RULES</u></h4>
                        <ul>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Leagues available for Mens, Womens, Juniors, Seniors.</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Starting in the week of January 14</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem"><strong>Flexible timing</strong>: If you cannot play during league times, we will assign you a time that works for you</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Each team consists of two players.</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Scoring format: Best ball, handicap-adjusted for Amateur leagues</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Handicap will be assigned based on scores for the first 3 rounds</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">League will run for 7 weeks</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Each team will play assigned course every week - 9 holes</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem"><strong>League dues - </strong>300 per player ($250 for Juniors and Seniors)</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" style="background-color: lightgray">
        <div class="one spacing"></div>
        <div class="medium-10 medium-centered columns">
            <h3 style="text-align: center">Course list for the League</h3>
        </div>
        <div class="medium-10 medium-centered columns">
            {% for course in page.courses %}
            <div class="medium-4 columns">
                <div class="member">
                    {% if course.image %}
                    <img style="height: auto;" src="{{course.image}}" alt="{{course.name}}">
                    {% endif %}
                    <div class="member-info">
                        {% if course.description %}
                        <p class="description">{{course.description}} - <strong>{{course.name}}</strong></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <a name="register"></a>

    <div class="two spacing"></div>
    <div class="one spacing"></div>

    <div class="row">
        <div class="medium-10 medium-centered columns">
            <p>
            <center>Have a question before you book? Contact us at <a href="mailto:{{site.email}}"><u>{{site.email}}</u></a></center>
            </p>
        </div>
        <div class="one spacing"></div>
    </div>

    <div class="row">
        <div class="medium-10 medium-centered columns">
            <p>
                <script type="text/javascript" src="https://forms.zohopublic.com/golflounge18/form/GL18Winter2019LeagueRegistrationform/jsperma/AnKkT5R0VnUR3us8mOgqO-4l9WdVSZBLe5RMe1CqJrU?height=2500px&width=100%25" id="ZFScript"></script>
            </p>
            <div class="one spacing"></div>
        </div>
    </div>

</div>
