---
layout: default
title: Leagues at Golf Lounge 18
description: Leagues for Mens, Womens, Juniors, Seniors at Golf Lounge 18
courses:
- name: Sea Island, Plantation (Georgia)
  description: January 14-20
  image: images/sea-island-plantation.jpg
- name: Sedgefield CC (North Carolina)
  description: January 21-27
  image: images/pga-national.jpg
- name: Muirfield Village (Ohio)
  description: Jan 28 - Feb 3
  image: images/pga-national.jpg
- name: St. Andrews, Castle Course (Scotland)
  description: February 4 - 10
  image: images/pga-national.jpg
- name: Royal Troon (Scotland)
  description: February 11-17
  image: images/pga-national.jpg
- name: PGA National Golf Course, Champion (Florida)
  description: February 18-24
  image: images/pga-national.jpg
- name:
- name: Olympic Golf Course Rio (Rio)
  description: Feb 25 - Mar 3
  image: images/olympic-rio.jpg
- name:
---

<div class="full text">
    <div class="row">
        <div class="one spacing"></div>
        <div class="medium-10 medium-centered columns">
            <p style="text-align: center">
                <a class="button boxed" href="leagues-201811">Leader board (For Fall 2018 League)</a>
            </p>
        </div>
    </div>

    <div class="section-title" style="
                        background-image: url('images/bg-bays.jpeg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;">
        <div class="row">
            <div class="one spacing"></div>
            <div class="medium-10 medium-centered columns">
                <h3 style="color: #ffffff">GOLF LOUNGE 18 WINTER LEAGUE - STARTING JAN 14 2019</h3>
                <p style="font-size: 1.1rem; color: #ffffff">
                    Round up your friends and compete for prizes and bragging rights for the title
                    of <strong>League Champions</strong>. It's a perfect opportunity to hangout with
                    friends, and meet new ones in a fun and competitive environment.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="medium-10 medium-centered columns">
                <p style="text-align: center">
                    <a class="button boxed" href="#register">Register your team in Winter League</a>
                </p>
            </div>
        </div>

    </div>

    <div class="row" style="background-color:lightgray;">
        <div class="one spacing"></div>
        <div class="section-title">
            <div class="row">
                <div class="medium-10 medium-centered columns">
                    <h3>Are You Game?</h3>
                </div>
            </div>
        </div>

        <div class="medium-10 medium-centered columns">
            <div class="large-6 columns">
                <div class="quote reverse" style="padding: 5px; border: none; color: #000;">
                    <a href="/images/league-201901.jpg" target="_blank">
                        <img src="/images/league-201901-small.jpg">
                    </a>
                </div>
            </div>

            <div class="medium-10 medium-centered columns">

                <div class="large-6 columns">
                    <div class="quote reverse" style="background-color:white;padding: 10px; border: 2px solid; color: #000; opacity: 0.7">
                        <div class="one spacing"></div>
                        <h4 style="text-align: center"><u>LEAGUE FORMAT AND RULES</u></h4>
                        <ul>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Leagues available for Mens, Womens, Juniors, Seniors.</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Starting in the week of January 14</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem"><strong>Flexible timing</strong>: If you cannot play during league times, we will assign you a time that works for you</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Each team consists of two players.</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Scoring format: Best ball, handicap-adjusted for Amateur leagues</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Handicap will be assigned based on scores for the first 3 rounds</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">League will run for 7 weeks</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem">Each team will play assigned course every week - 9 holes</li>
                            <li style="margin-bottom: 0.5rem; font-size: 1rem"><strong>League dues - </strong>300 per player ($250 for Juniors and Seniors)</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="one spacing"></div>
        <div class="row">
            <div class="medium-10 medium-centered columns">
                <p style="text-align: center">
                    <a class="button boxed" href="#register">Register your team in Winter League</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: lightgray">
        <div class="one spacing"></div>
        <div class="medium-10 medium-centered columns">
            <h3 style="text-align: center">Course list for the League</h3>
        </div>
        <div class="medium-10 medium-centered columns">
            {% for course in page.courses %}
            <div class="medium-4 columns">
                <div class="member">
                    {% if course.image %}
                    <img style="height: auto;" src="{{course.image}}" alt="{{course.name}}">
                    {% endif %}
                    <div class="member-info">
                        {% if course.description %}
                        <p class="description">{{course.description}} - <strong>{{course.name}}</strong></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <a name="register"></a>

    <div class="row">
        <div class="one spacing"></div>
        <div class="medium-10 medium-centered columns">
            <p style="text-align: center">
                <a class="button boxed" href="leagues-201811">Leader board (For Fall 2018 League)</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="medium-10 medium-centered columns">
            <p>
            <center>Have a question before you book? Contact us at <a href="mailto:{{site.email}}"><u>{{site.email}}</u></a></center>
            </p>
        </div>
        <div class="one spacing"></div>
    </div>

    <div class="row">
        <div class="medium-10 medium-centered columns">
            <p>
                <script type="text/javascript" src="https://forms.zohopublic.com/golflounge18/form/GL18Winter2019LeagueRegistrationform/jsperma/AnKkT5R0VnUR3us8mOgqO-4l9WdVSZBLe5RMe1CqJrU?height=2500px&width=100%25" id="ZFScript"></script>
            </p>
            <div class="one spacing"></div>
        </div>
    </div>

</div>
