---
layout: default
title: Trackman - Experience the best in Golf
description: Trackman - Best launch monitor technology at Golf Lounge 18


courses:
- course:
  name: st-andrews-castle
  description: St. Andrews, Castle Course (Scotland)
- course:
  name: st-andrews-jubilee
  description: St. Andrews, Jubilee (Scotland)
- course:
  name: st-andrews-new
  description: St. Andrews, New Course (Scotland)
- course:
  name: st-andrews-old
  description: St. Andrews, Old Course (Scotland)
- course:
  name: crystal-pines
  description: Crystal Pines (British Columbia - Fictional)
- course:
  name: devils-island
  description: Devils Island (Island - Fictional)
- course:
  name: albany
  description: Albany Golf Course (Bahamas)
- course:
  name: bethesda
  description: Bethesda CC (Maryland)
- course:
  name: kissing-tree
  description: Kissing Tree (Texas)
- course:
  name: herzogenaurach
  description: Golf Club Herzogenaurach (Germany)
- course:
  name: hidden-canyon
  description: Hidden Canyon (Desert - Fictional)
- course:
  name: innisbrook
  description: Innisbrook, Copperhead (Florida)
- course:
  name: interlachen
  description: Interlachen Country Club (Minnesota)
- course:
  name: olympic-rio
  description: Olympic Golf Course Rio (Rio)
- course:
  name: pga-national
  description: PGA National, Champion (Florida)
- course:
  name: muirfield
  description: Muirfield Village (Ohio)
- course:
  name: royal-birkdale
  description: Royal Birkdale (UK)
- course:
  name: royal-troon
  description: Royal Troon (Scotland)
- course:
  name: rungsted
  description: Rungsted Golf Club (Denmark)
- course:
  name: sebonack
  description: Sebonack (New York)
- course:
  name: the-grove
  description: The Grove (UK)
- course:
  name: sea-island-plantation
  description: Sea Island, Plantation (Georgia)
- course:
  name: sea-island-seaside
  description: Sea Island, Seaside (Georgia)
- course:
  name: sedgefield
  description: Sedgefield CC (North Carolina)
- course:
  name: shadowlands
  description: Shadowlands (Europe - Fictional)
- course:
  name: senoja-valley
  description: Senoja Valley (Fictional, Par 3)
- course:
  name: shelter-harbor
  description: Shelter Harbor Golf Club (Rhode Island)
- course:
  name: abels-crossing
  description: Abel’s Crossing (Fictional, <br>Par 3)
- course:
  name: aces-club
  description: The Aces Club (Fictional, <br>Par 3)
- course:
  name: sand-river
  description: Sand River (Fictional, <br>Par 3)
- course:
  name: lost-9
  description: The Lost 9 (Fictional, <br>Par 3)
- course:
  name: lostwood-glen
  description: Lostwood Glen (Fictional, <br>Par 3)
- course:
  name:
---

<div class="full">
    <div class="section-title">
        <div class="row">
            <div class="medium-10 medium-centered columns">
                <div class="spacing"></div>
                <h2>{{page.title}}</h2>
                <p><i>“Trackman is a game changer for coaching effectiveness and enjoyment for the students.”</i></p>
            </div>
        </div>
    </div>
</div>


<div class="full text">
    <div class="row">
        <div class="medium-10 medium-centered columns">
            <h2 style="text-align: center">Practice like the pros</h2>
            <p style="text-align: center">
                <img src="{{ "/images/TM4.png" | absolute_url }}" alt="Trackman 4 Golf Simulator"/>
            </p>
            <h3 style="text-align: center">Why guess what you can measure?</h3>
            <p>
                Golf Lounge 18 is powered by <strong>TrackMan 4 Dual Radar</strong> Technology, the world’s best
                when it comes to launch monitors and training tools. TrackMan is trusted by over 700
                Tour Players worldwide, over 1,500 top coaches, all major equipment manufacturers
                and countless avid golfers. TrackMan simulators and performance enhancing software
                can provide you up to 31 data parameters, video analysis with live graphic overlays of
                club path, face angle, target line and ball trajectory, all for every shot you hit. In
                addition, our virtual golf software allows you to play full or partial rounds on course,
                practice any shot you’d like via On Course Practice, games, contests and more, all while
                experiencing the same hyper-realistic graphics you see in flyovers during PGA Tour
                broadcasts. <strong><i>Why wait until next spring to improve your game?</i></strong>
            </p>
            <p align="center">
                <img src="{{ "/images/TrackMan-Used-By-The-Best-Players.jpeg" | absolute_url }}" alt="Trackman used by the best players" />
            </p>
        </div>
    </div>

    <a name="course-list"/>

    <div class="one spacing"></div>

    <div class="row">
        <div class="one spacing"></div>
        <div class="row">
            <div class="medium-10 medium-centered columns">
                <p style="text-align: center">
                    <a class="button boxed" href="/book">Book time to play at one of these courses</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: lightgray">
            <div class="one spacing"></div>
            <div class="medium-10 medium-centered columns">
                <h3>Play at some of the world's best golf courses with stunning hyper-realistic graphics.</h3>
            </div>
            <div class="medium-10 medium-centered columns">
                {% for course in page.courses %}
                <div class="medium-4 columns">
                    <div class="member">
                        {% if course.name %}
                        <a target="_blank" href="/images/courses/{{course.name}}.jpeg">
                        <img style="height: auto;" src="/images/courses/thumbs/{{course.name}}-thumb.jpeg" alt="{{course.description}}">
                        </a>
                        {% endif %}
                        <div class="member-info">
                            {% if course.description %}
                            <p class="description"><tt>{{course.description}}</tt></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="one spacing"></div>
        <div class="row">
            <div class="medium-10 medium-centered columns">
                <p style="text-align: center">
                    <a class="button boxed" href="/book">Book time to play at one of these courses</a>
                </p>
            </div>
        </div>
    </div>
</div>
