<p>
    Golf Lounge 18 is the home of virtual golf, and real fun. Conveniently located in the center of Fairfield,
    we are THE premier indoor golfing facility with the best golf simulators in the industry - Trackman.
</p>
<p>Come over for a unique experience, and play on the most beautiful courses from all over the world.</p>
<p><a href="/book"><u>Book times starting <strong>October 10th</strong></u></a>.</p>
<p>We are located at: <br><strong>Sportsplex</strong><br><i><u><a href="https://goo.gl/maps/{{site.gmap}}" target="_blank">{{site.location}}</a></u></i></p>
