<div class="full no-padding footer gl18_green centered-text">
    <div class="row">
        <div class="small-12 columns">
            <div class="one spacing"></div>
            <a class="button boxed" href="/leagues" style="background-color: #000">Register for league</a>
            &nbsp;&nbsp;&nbsp;
            <a class="button boxed" href="/book" style="background-color: #000">Reserve tee time</a>
            &nbsp;&nbsp;&nbsp;
            <a class="button boxed" href="/signup" style="background-color: #000">Join our e-mail list</a>
        </div>
    </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="one spacing"></div>
      {% include social.html %}
    </div>
  </div>
  <div class="row">
      &copy; Golf Lounge 18
      | <a target="_blank" href="https://goo.gl/maps/{{site.gmap}}">{{site.location}}</a>
      | <a href="tel:{{site.phone}}">{{site.phone}}</a>
      | <a href="mailto:{{site.email}}">{{site.email}}</a>
  </div>
  <div class="one spacing"></div>
  <div class="spacing"></div>
</div>

<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.superslides.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.validate.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/countto/jquery.countTo.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/appear/jquery.appear.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/svg.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/cookie.js" | prepend: site.baseurl }}"></script>
