<nav id="nav">
    <ul class="links">
      <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Play</a></li>
      <li class="{% if page.url contains '/learn/' %} active {% endif %}"><a href="{{ "/learn/" | absolute_url }}">Learn</a></li>
      <li class="{% if page.url contains '/fitting/' %} active {% endif %}"><a href="{{ "/fitting/" | absolute_url }}">Club fitting</a></li>
      <li class="{% if page.url contains '/technology/' %} active {% endif %}"><a href="{{ "/technology/" | absolute_url }}">Technology</a></li>
      <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
      <li class="{% if page.url contains '/contact/' %} active {% endif %}"><a href="{{ "/contact/" | absolute_url }}">Contact</a></li>
    </ul>

    {% include social.html %}
</nav>