<ul class="icons">
    <li><a href="tel:{{site.phone}}" class="icon fa-phone" rel="nofollow"><span class="label">Phone</span></a></li>
    <li><a href="mailto:{{site.email}}" class="icon fa-envelope-o" rel="nofollow"><span class="label">Email</span></a></li>
    <li><a target="_blank" href="https://goo.gl/maps/{{site.gmap}}" class="icon fa-map-marker" rel="nofollow"><span class="label">Map</span></a></li>
    <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
    <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
    <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
    <!--
    Slack is not ready. Probably need another customer service chat tool
    <li><a href="https://slack.com/{{site.slack}}" class="icon fa-slack" rel="nofollow"><span class="label">Slack</span></a></li>
    -->
</ul>
