<ul class="socials">
    <li><a href="tel:{{site.phone}}" target="_blank"><i class="fa fa-phone"></i></a></li>
    <li>&nbsp;</li>
    <li><a href="mailto:{{site.email}}" target="_blank"><i class="fa fa-envelope"></i></a></li>
    <li>&nbsp;</li>
    <li><a href="https://goo.gl/maps/{{site.gmap}}" target="_blank"><i class="fa fa-map-marker-alt"></i></a></li>
    <li>&nbsp;</li>
    <li><a href="https://facebook.com/{{site.facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li>&nbsp;</li>
    <li><a href="https://instagram.com/{{site.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <!--
    <li><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
    -->
</ul>
